{% extends 'shop/basic.html' %}

{% block title %} Title of about {% endblock %}
{% block body %} 
<main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Shopper's Syndicate!!</h1>
            <p>The need for this is that in highly populated countries like India, we required an application like this to shop in a easy way. Similarly traffic of areas of market place is a problem so the risk of theft ,robbery etc is increased. E-commerce application can be useful to the people to shop easily.
                Currently, there a many applications that provide this facility but our application also includes the feature of online auction in it. So dealer has the option to either put his product in auction or to just sell it normally. That’s why its named SHOPPER’S SYNDICATE.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Purpose</h2>
              <p>Currently, there a many applications that provide this facility but our application also includes the feature of online auction in it. So dealer has the option to either put his product in auction or to just sell it normally. That’s why its named SHOPPER’S SYNDICATE. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Aim</h2>
              <p>So our system purpose is to make Web based application that provide platform for user after they successfully register into the system. If user wants to buy products he can simply add it to the cart and the product gets delivered to his doorstep. Or if he wants to take part in the auction or dealer wants his product in the auction then he just have to give the small regristration fee for that. If he wins the auction the confirmation will be taken from him and if he confirmd to buy the product it will be sold to the him. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Contact us</h2>
              <p>We will provide all the support you need.If there is any query about the system we are always ready to help.
                We are open for constructive critisizim.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
      
          <hr>
      
        </div> <!-- /container -->
      
      </main>
      {% endblock %}
